#wrap {
    perspective:500px;
    transform:translateY(200px);
}

#cube{
    transform-style:preserve-3d;
}

.face{
    margin-left:-100px;
    margin-top:-100px;
    top:50%;
    left:50%;
    position:absolute;
    height:200px;
    width:200px;
    background-color:sandybrown;
    line-height:200px;
    border:2px solid black;
    text-align:center;
    font-size:150px;
    opacity:0.5;
    
}
.face:first-child{
    transform:translateZ(100px);
}
.face:nth-child(2){
    transform:translateZ(-100px) rotateY(180deg);
}
.face:nth-child(3){
    transform:translateX(-100px) rotateY(-90deg);
}
.face:nth-child(4){
    transform:translateX(100px) rotateY(90deg);
}
.face:nth-child(5){
    transform:translateY(-100px) rotateX(90deg);
}
.face:nth-child(6){
    transform:translateY(100px) rotateX(-90deg);
}
#cube:nth-child(n){
    animation-name:cube;
    animation-duration:4s;
    animation-iteration-count:infinite;
}
@keyframes cube{
    from{transform:rotate3d(0,0,0,0deg)}
    to{transform:rotate3d(1,1,1,360deg);}
}
