.broadway{
    height:500px;
    margin-top:-20px;
    margin-bottom:20px;
    background-image:url('http://placehold.it/3823x2538');
}
.main {
    position:relative;
    text-align:center;
    top:180px;
}
.main h1{
    font-size:70px;
}
.footer{
    padding-top:15px;
    bottom:0px;
    width:100%;
    height:80px;
    background-color:#f5f5f5;
}
.footer h1{
    text-align:center;
    vertical-align:central;
    line-height:20px;
}
/*pure css cube start*/
.wrap {
    perspective:500px;
}
#cube{
    transform-style:preserve-3d;
    height:500px;
}
.face{
    margin-left:-100px;
    margin-top:-100px;
    position:absolute;
    top:50%;
    left:50%;
    height:200px;
    width:200px;
    background-color:sandybrown;
    line-height:200px;
    border:2px solid black;
    text-align:center;
    font-size:150px;
    opacity:0.5;
}
.face:first-child{
    transform:translateZ(100px);
}
.face:nth-child(2){
    transform:translateZ(-100px) rotateY(180deg);
}
.face:nth-child(3){
    transform:translateX(-100px) rotateY(-90deg);
}
.face:nth-child(4){
    transform:translateX(100px) rotateY(90deg);
}
.face:nth-child(5){
    transform:translateY(-100px) rotateX(90deg);
}
.face:nth-child(6){
    transform:translateY(100px) rotateX(-90deg);
}
#cube:nth-child(n){
    animation:cube 7s infinite linear;
}
@keyframes cube{
    from{transform:rotateX(0deg) rotateY(0deg) rotateZ(0deg);}
    to{transform:rotateX(360deg) rotateY(360deg) rotateZ(360deg);}
}
/*pure css cube end*/
#calculator{
    margin:auto;
    width:300px;
    height:500px;
    background-color:#dcdcdc;
    border:2px solid black;
    border-radius:5px;
}
#total{
    height:10%;
    padding:5px;
    margin:5px 15px;
    background-color:#fff;
    font-size:47px;
    text-align:right;
}
#operators{
    padding:0px 5px;
    margin:5px;
}
#operators a{
    width:45px;
    height:45px;
    background-color:#808080;
    padding:5px;
    margin:5px;
    float:left;
    border-radius:3px;
    font-size:34px;
    text-align:center;
    cursor:pointer;
}
#numbers{
    padding:5px;
    margin:5px;
}
#numbers a{
    width:82px;
    height:82px;
    background-color:#808080;
    padding:5px;
    margin:5px;
    float:left;
    border-radius:3px;
    text-align:center;
    font-size:46px;
    cursor:pointer;
}
#calculator a:hover{
    text-decoration:none;   
}
#calculator{
    line-height:normal;
}
.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
/*blink cursor start*/
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
/*blink cursor end*/
html, body {
  height: 100%;
}
#map{
  height: 200px;
  margin:0 15px;
}
/*pure css clock start*/
#clock::before{
    width:10%;
    height:10%;
    background-color:black;
    content:"";
    position:absolute;
    left:45%;
    top:45%;
    border-radius:50%;
}
#clock{
    width:400px;
    height:400px;
    margin:auto;
    background-color:lightblue;
    border-radius:50%;
    border:2px solid black;
    position:relative;
}
.clock_marker{
    width:5%;
    height:100%;
    background-color:dimgray;
    position:absolute;
    left:47.5%;
}
.clock_marker.zerosix{
    background-color:black;
}
.clock_marker.oneseven{
    transform:rotate(30deg)
}
.clock_marker.twoeight{
    transform:rotate(60deg)
}
.clock_marker.threenine{
    background-color:black;
    transform:rotate(90deg)
}
.clock_marker.fourten{
    transform:rotate(120deg)
}
.clock_marker.fiveeleven{
    transform:rotate(150deg)
}
#clock_inner{
    width:80%;
    height:80%;
    background-color:lightblue;
    position:absolute;
    border-radius:50%;
    left:10%;
    top:10%;
}
#second{
    height:100%;
    width:100%;
    background-color:lightcoral;
    transform-origin:50% 80%;
}
#minute{
    height:100%;
    width:100%;
    background-color:lightgreen;
    transform-origin:50% 100%;
    border:2px solid black;
}
#hour{
    height:100%;
    width:100%;
    background-color:black;
    transform-origin:50% 100%;
}
#hour_hand{
    height:30%;
    width:5%;
    left:47.5%;
    top:20%;
    transform-origin:50% 100%;
    position:absolute;
    animation:hand 43200s infinite linear;
}
#minute_hand{
    height:45%;
    width:2%;
    left:49%;
    top:5%;
    transform-origin:50% 100%;
    position:absolute;
    animation:hand 3600s infinite steps(60);
}
#second_hand{
    height:50%;
    width:0.6%;
    left:50%;
    top:10%;
    transform-origin:50% 80%;
    position:absolute;
    animation:hand 60s infinite steps(60);
}
@keyframes hand{
    from{transform:rotate(0deg);}
    to{transform:rotate(360deg);}
}
/*pure css clock end*/
/*pure css gallery start*/
.gallery{
   margin-left:-100px;
    margin-top:-100px;
    position:absolute;
    top:50%;
    left:50%;
    height:200px;
    width:200px;
    background-color:sandybrown;
    line-height:200px;
    border:2px solid black;
    text-align:center;
    font-size:150px;
    opacity:0.5;
}
.gallery:first-child{
    transform:translateZ(173.2px);
}
.gallery:nth-child(2){
    transform:translateX(150px) translateZ(86.6px) rotateY(60deg);
}
.gallery:nth-child(3){
    transform:translateX(150px) translateZ(-86.6px) rotateY(120deg);
}
.gallery:nth-child(4){
    transform:translateZ(-173.2px) rotateY(180deg);
}
.gallery:nth-child(5){
    transform:translateX(-150px) translateZ(-86.6px) rotateY(240deg);
}
.gallery:nth-child(6){
    transform:translateX(-150px) translateZ(86.6px) rotateY(300deg);
}
#board{
    transform-style:preserve-3d;
    height:500px;
    animation:board linear infinite 10s;
}
@keyframes board{
    from{ transform:rotateY(0deg);}
    to{ transform:rotateY(360deg);}
}
/*pure css gallery end*/


